<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
  <div class="control is-loading">
    <input class="input" type="text" placeholder="Type an address">
  </div>
</form>
<div class="panel">
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-map-marker-alt"></i>
    </span>
    address 1
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-map-marker-alt"></i>
    </span>
    address 2
  </a>
  <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-map-marker-alt"></i>
    </span>
    address 3
  </a>
</div>
</body>
</html>